body {
  background-color: #f7f5fb !important;
}

main {
  min-height: calc(100vh - 72px);
}

/* wallet svg  */
.wallet-img {
  width: 300px;
}

.rounded-10 {
  border-radius: 10px;
}

.hide {
  display: none;
}
